<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>listviewdemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74CA42F81E77C040003B7D42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74CA43111E77C040003B7D42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74CA431C1E77C040003B7D42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
